In [1]:
s1="my name is sirisha"
s2=' pursuing btech'

In [2]:
import numpy as np

In [4]:
np.char.add(s1,s2)

array('my name is sirishapursuing btech', dtype='<U32')

In [6]:
np.char.upper(s1)

array('MY NAME IS SIRISHA', dtype='<U18')

In [7]:
np.char.lower(s2)

array('pursuing btech', dtype='<U14')

In [8]:
np.char.split(s1) #where it finds space it splits

array(list(['my', 'name', 'is', 'sirisha']), dtype=object)

In [9]:
s3="my name is \nsirisha"
np.char.splitlines(s3)

array(list(['my name is ', 'sirisha']), dtype=object)

In [10]:
np.char.replace(s1,'name','surname')

array('my surname is sirisha', dtype='<U21')

In [11]:
print("**************good bye**********")

**************good bye**********

In [14]:
print(np.char.center("good bye",50,'*'))

*********************good bye*********************